{% include 'nav.html' %}
<div class="main">
{% block content %}
{% with messages = get_flashed_messages() %}
	{% if messages %}
	        <div class="alert alert-success alert-dismissable animated fadeIn">
	            {% for message in messages %}
	            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	            <p class="h4"><strong>{{ message }}</strong></p>
	            {% endfor %}
	        </div>
	{% endif %}	    
{% endwith %}
{% if 'username' in session %}
<button type="button" class="btn btn-warning" style="margin: 5px 0px 5px 25px;"><a href="{{url_for('addRifleDetails',vrname=vrs.name)}}" style="text-decoration: none;"><strong>Add New Rifle</strong></a></button>

{% endif %}
<div class="row" style="margin: 10px;">
{% for vre in vres %}

	<div class="col-sm-4 text-center">
		<div class="panel panel-primary">
			<div class="panel-heading" style="background-color:#172c44">
				<img src="{{ vre.rlink }}" alt="rifle" height="200px" width="280px">
				<h4>{{ vre.name }}</h4>
			</div>
			<div class="panel-body text-center" style="background-color:#172c44;  color: white">
				<table>
					<tr><th>AMMO</th><td>:</td><td><h5>{{ vre.ammo }}</h5></td></tr>
					<tr><th>CAPACITY</th><td>:</td><td><h5>{{ vre.capacity }}</h5></td></tr>
					<tr><th>POWER</th><td>:</td><td><h5>{{ vre.power }}</h5></td></tr>
					<tr><th>RANGE</th><td>:</td><td><h5>{{ vre.range }}</h5></td></tr>
					<tr><th>STABILITY</th><td>:</td><td><h5>{{ vre.stability }}</h5></td></tr>
				</table>
			</div>
			{% if 'username' in session %}
			<div class="panel-footer" style="background-color:#8a9baf">
					<button type="button" class="btn btn-info"><a href="{{ url_for('editRifle',vrid=vrs.id,vrename=vre.name) }}"style="text-decoration: none;color:white;">EDIT</a></button>
					<button type="button" class="btn btn-danger"><a href="{{ url_for('deleteRifle',vrid=vrs.id,vrename=vre.name)}}"style="text-decoration: none;color:white;">DELETE</a></button>
			</div>
			{% endif %}	
			
		</div>
	</div>
{% endfor %}
</div>
{% endblock content %}
</div>